build/
cmake-build-*/
out/
bin/
lib/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
*.cbp
*.moc
*.qmake.stash
*.pro.user
.pro.user.


*.o
*.obj
*.lo
*.la
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.app
*.pdb
*.ilk
.manifest


moc_
ui*
qrc*
*.qmlc
*.jsc
*.qrc.depends



.idea/

.qtcreator/
.qtc_clangd/

.vs/

.vscode/

*.log
*.tmp
*.bak
*.swp
*.swo
*.autosave

.DS_Store
Thumbs.db
desktop.ini


pycache/
*.pyc
.pyo


!.gitignore
!CMakeLists.txt
!.cpp
!.h
!.hpp
!.cu
!.cuh
!.qrc
!.ui
!.txt
!.md
!gui/
!cuda/